@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');


.body {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    overflow-x:hidden;  
}

.main-container {
    display: flex;
    background-color: #f0f8ff;
    width: 80%;
    border: 3px solid rgb(211, 1, 19);
    border-radius: 40px;
    overflow: hidden;
}

.map {
    height: 400px;
    overflow: hidden;
    border-radius: 40px;
}

.bord{
    border: 4px solid rgb(211, 1, 19);
    border-radius: 40px;
}

.color{
    color: rgb(211, 1, 19);
    font-weight: bold;
    font-size: 17px;
}

.bold{
    font-weight: bolder;
}

#info-container {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Медиа-запрос для мобильных экранов */
@media only screen and (max-width: 800px) {

    .body{
        overflow-x:hidden;  
    }

    .main-container {
        flex-direction: column;
    }

    .map {
        height: 200px;

    }
}


.line{
    font-family: 'Philosopher', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgba(43, 18, 76, 0.5);
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    /* border-radius: 100px;
    border: 2px solid rgb(241, 144, 109);
    margin-left: 10%;
    margin-right: 10%; */
    border-top: 2px solid rgb(211, 1, 19); 
    border-bottom: 2px solid rgb(211, 1, 19); 
    
  }
